<!--The content below is only a placeholder and can be replaced.-->
<div id="logo">
</div>
<div id="recap">
  <div id="basket">
    <input type="button" value="Panier"/>
  </div>
  <div id="account">
    <input type="button" value="Compte"/>

  </div>
</div>
<div class="menu">
    <span class="nav"><a routerLink="/list">List</a></span>
    <span class="nav"><a routerLink="signin">Sign-in</a></span>
</div>
<div class="searchzone">
  <app-bungalow-search></app-bungalow-search>
</div>
<div class="fildarianne">
  fil d'arianne ici
</div>
<router-outlet></router-outlet>
