<form id="searchForm"  (ngSubmit)="search()" >
    <div class="group">
       <label for="minbedcount" class="col-form-label"> Nombre de lits:</label>
        <input type="number" class="form-control" name="minbedcount" id="minbedcount" aria-describedby="nombreLits" placeholder="Nombre de lits" [(ngModel)]="bungalowsearch.minbedcount">
    </div>
    <div class="group">
      <label for="islandid"> Île:</label>
        <input type="number" class="form-control" name="islandid" id="islandid"  aria-describedby="ile" placeholder="Île"  [(ngModel)]="bungalowsearch.islandid">
    </div>
    <div class="group">
        <label for="minprice" class="col-form-label"> Prix minimum:</label>
        <input type="number" class="form-control" name="minprice" id="minprice" aria-describedby="prixmini" placeholder="Prix minimum" [(ngModel)]="bungalowsearch.minprice">
    </div>
    <div class="group">
        <label for="maxprice" class="col-form-label"> Prix maximum:</label>
        <input type="number" class="form-control" name="maxprice" id="maxprice" aria-describedby="prixmax" placeholder="Prix maximum"  [(ngModel)]="bungalowsearch.maxprice">
    </div>
    <div class="group">
        <label for="startweek" class="col-form-label"> Semaine de début:</label>
        <input type="number" class="form-control" name="startweek" id="startweek" aria-describedby="semdebut" placeholder="Semaine de début de la location"  [(ngModel)]="bungalowsearch.startweek">
    </div>
    <div class="group">
        <label for="endweek" class="col-form-label"> Semaine de fin:</label>
        <input type="number"  class="form-control" name="endweek" id="endweek" aria-describedby="semfin" placeholder="Semaine de fin de la location"  [(ngModel)]="bungalowsearch.endweek">
    </div>
    <button type="submit"  class="btn btn-primary">Rechercher</button>
    <hr>
    <a href="http://localhost:4200">Go back</a>
</form>
