<div *ngIf="cartItems && cartItems.length > 0;then content else empty_state">here is ignored</div>

<ng-template #content>
  Voici ce que content votre panier :
  <table>
        <li *ngFor="let cartItem of cartItems">
          <tr>
            <app-cart-item [cartItem]="cartItem"></app-cart-item>
          </tr>
        </li>
</table>
Total : {{totalprice}}
 <input (click)="validate()" type="button" value="Commander" />
 <input (click)="emptyCart()" type="button" value="Vider le panier" />

</ng-template>
<ng-template #empty_state>
Votre panier est vide !
</ng-template>
