<p>
  Bienvenue sur Bungaloww, commencez dès à présent votre réservation de vacances ! <br/>

  <img  class="col-centered" id="imgbung" src="../../../assets/img/bungalow.png" alt="img bungalow"/>
  <label for="imgbung"> Sear Kit House 1921 - <a href="https://www.flickr.com/photos/daily-bungalow/33893764106/">@DailyBungalow</a></label> <br/>

Nous vous proposons des locations très attractives, adapté à vos besoins ! <br/>
Si vous ne savez pas encore où partir, ou si vous hésitez encore, passez par notre liste complète de bungalows ! <br/>
</p>
